@media screen and (max-width: 1200px) {
    .logo > svg {
      height: 60px;
      width: 60px;
    }
  
    .logo {
      padding-left: 15px;
    }
    nav > ul {
      height: 60px;
      font-size: 1rem;
    }

    nav > ul > li {
      line-height: 60px;
      padding: 0 20px;
    }
    .product-info > h1 {
        font-size: 2.2rem;
    }

    .product-info > p {
        font-size: 1rem;
    }

    .product-info > h2 {
        font-size: 1.25rem;
    }

    .btn {
        font-size: .7rem;
        padding: 15px;
    }
    .right > img {
      left: -80px;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
     }
  
  .logo {
    padding-left: 15px;
  }
  
  nav > ul {
    height: 50px;
    font-size: .9rem;
  }
  
  nav > ul > li {
    line-height: 50px;
    padding: 0 15px;
  }
  
  .right > img {
    left: -60px;
  }
}

@media screen and (max-width: 740px) {
    main{
        flex-direction: column;
        justify-content: center;
    }

    .right > img {
        left: 0;
        width: 100%;
    }
}